@font-face {
    font-family: 'helvetica-bold';
    src: url('Helvetica-Bold.ttf') format('truetype');
    
    font-style: normal;
  }
  @font-face {
    font-family: 'turbinado-bold';
    src: url('turbinado-bold.ttf') format('truetype');
    
    font-style: normal;
  }
  @font-face {
    font-family: 'noah-head-regular';
    src: url('Noahheadregular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'noah-head-bold';
    src: url('noahhead.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


.navbar{
    width:100%;
    height:151px;
    background-color:rgb(249, 245,238);
    font-family: 'noah-head-bold';
    color: rgb(80, 44, 28);
    display: flex;
    letter-spacing: 1px;
    
    
}

*{
    margin:0;
}
.first-nav{
    display: flex;
    font-weight: 700;
    font-size: 17px;
    gap: 50px;
    margin-left: 10px;
    font-family: 'noah-head-bold';
    
    background-color:rgb(249, 245,238);
   

}
.nav-text-chocolate{
    margin-left: -84px;
    margin-top: 69px;
}
.nav-text-story{
    margin-left: -17px;
    margin-top: 69px;
}
.first-nav-logo{
  margin-left: 167px;
    transform :scale(0.75);
    margin-top: -7px;
}
.nav-spacer{
    width:451px;
    height:151px;
}
.end-nav{
    display: flex;
    margin-right: 10px;
    gap:33px;
    font-size: 13.5px;
    margin-top: 18px;
    font-family: 'helvetica-bold';
}
.choco-seeds{
   
    height: 610px;
    overflow: hidden;
    
}
.choco-seeds img{
    width: 100%;
}
.black{
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  
  left: 0;
  width: 100%;
  height: 610px;
}
.discover{
    background-color: rgb(80, 44, 28);
    height: 672px;
    overflow: hidden;
    
    position: relative;
    
    
}
.discover img{
    width: 100%;
    transform: scale(0.9);
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 
    
}

  .thirdpartflex{

width: 100%;
  }

.smooth-milk{


    float: left;
    width: 50%;
    transform: scale(0.7);
    margin-top: 54px;
   
    
}
.smooth-milk img{
    animation: oscillate 2s ease-in-out infinite;
    
}
@keyframes oscillate {
    0% {
      transform: translateY(0); /* Initial position */
    }
    50% {
      transform: translateY(-10px); /* Move up by 10px */
    }
    100% {
      transform: translateY(0); /* Back to original position */
    }
  }
  .thirdpartleft{
    position: absolute;
    right: 270px;
    z-index: 10;
    top: 184px;
    font-size: 20px;
  }
  .third-mini-heading{

    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'noah-head-regular';
    margin-bottom: 24px;
  }
  .third-heading{
    font-family: 'noah-head-bold';
    color: white;
    font-size: 60px;
    letter-spacing: 0px;

  }

  .icon{
    width: 202px;
    height: 60px;
    background-color: rgb(224, 36, 103);
    margin-top: 36px;
    margin-left: -2px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    font-family: 'noah-head-bold';
    color: white;
    font-size: 17px;
}
.choco-seed-text{
    text-align: center;
    align-content: center;
    
    color: white;
    font-size: 84px;
    justify-content: center;
    font-family: 'turbinado-bold';
    margin-top: 275px;
}
.fourthpart{
    width: 100%;
    height :800px;
    background-color:rgb(249, 245,238);
    overflow: hidden;
}
.curved-heading{
    justify-content: center;
    font-family: 'turbinado-bold';
    text-align: center;
    align-content: center;
    background-color:rgb(249, 245,238);
    font-size: 71px;
    padding-top: 69px;
color: rgb(80, 44, 28);
}

.product-flex{
    display: flex;
    width: 100%;
    gap: 172px;
    margin-left: 221px;
}
.product-icon{
    width: 20%;
    text-align: center;
    align-items: center;
justify-content: center;
font-family: 'noah-head-bold';
font-size: 24px;
color: rgb(80, 44, 28);

}

.product-icon img{
    margin-bottom: 24px;
}
.range{
    margin-left: 95px;
}
  
.fifth-part{
width: 100%;
height: 544px;
background-image: url('fifth-part.jpg');
background-size: cover;

display: grid;
  place-items: center;
}
.fifth-mini-heading{
    font-family: 'noah-head-bold';
font-size: 16px;
color: white;
margin-top: 21px;
}
.fifth-heading{
    font-family: 'turbinado-bold';
color: white;
font-size: 80px;
}
.fifth-describe{
    font-family: 'noah-head-regular';
    font-size: 23px;
    color: white;
}
.product-icon-sixth{
  width: 33%;
    text-align: center;
    align-items: center;
justify-content: center;
font-family: 'noah-head-bold';
font-size: 24px;
color: rgb(80, 44, 28);
}

.sixth-icon{

  margin-left: 215px;
 margin-top: 0px;
}
.sixth-describe{
  font-family: 'noah-head-regular';
  font-size: 17px;
  letter-spacing: 1px;
  color: rgb(80, 44, 28);
  margin-top: 18px;

}
.product-sixth-flex{
  display: flex;
  width: 100%;
  gap: 13px;
  margin-left: 347px;
}
.product-seventh-flex{
  display: flex;
  width: 100%;
  gap: 13px;
  margin-left: 231px;
 

}
.product-icon-seventh{
  width: 317px;
  height: 317px;
 
  
}
.product-icon-seventh img{
  object-fit: fill;
  width: 100%; /* Forces the image to match the container’s width */
    height: 100%;
    
  
    
border-radius: 17px;
}
.scrollbar{
  display: flex;
  justify-content: center; /* Centers horizontally */
    align-items: center;
    margin-top: 84px;
    
}
.darkpinkarea{
  width: 240px;
    height: 8px;
background-color: rgb(224, 36, 103); 
justify-content: center;
border-radius: 60px;
margin-right: -9px;
z-index: 3;

}
.lightpinkarea{
  width:218px;
  height: 8px;
background-color: rgb(239, 161, 184); 
justify-content: center;
border-radius: 60px;
z-index: 2;
}
.eigthpart{

  margin-left: 0px;
  
  width: 100%;
  height: auto;
  
  
}
.ninthpart{

  width: 100%;
  height:878px;
  overflow: hidden;
}
.brownfooter{
width: 100%;
   height: auto;
}
.brownfooter-content{
  height: 599px;
  width: 100%;
  
  background-color: rgb(80, 44, 28);
  margin-top: -56px;
}

.brown-left{
color: white;
font-family: "Lasiver Bold";
margin-left: 144px;
margin-top: 80px;
font-size: 17px;
width: 30%;

}
.footer-icons{
width:22px;
height: 22px;
display: flex;
gap:47px;
margin-top: 13px;
}

.footergriditems{
width: 50;
display :grid;
grid-template-columns: repeat(3, 1fr); 
grid-template-rows: repeat(3, 1fr);  
margin-top: 76px; 
}

.footer-grid{
padding: 10px;
font-family: 'noah-head-regular';
color: white;
font-size: 14px;
letter-spacing: 1px;
}
.brown-right{
  width:50%;
}
.long-paragraph{
  padding: 10px;
font-family: 'noah-head-regular';
color: white;
font-size: 12px;
letter-spacing: 1px;
line-height: 1.8;
}

.line{
  border-top: 0.5px solid white; 
   width: 100%; 
 margin: 20px 0;
 margin-top: 0px;
}
.brownfooter-content-first{
  
  display: flex;
width: 100%;
}
.brownfooter-content-end{
  background-color: rgb(80, 44, 28);
  height: 196px;
  font-size: 20px;
  font-family: 'noah-head-bold';
  color: white;
 
}
.end-heading-left{
  margin-left: 163px;
    margin-top: 40px;
    font-size: 30px;
}
.end-icon{
  width: 202px;
    height: 60px;
    background-color: transparent;
    
    margin-top: 21px;
    margin-left: 160px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    font-family: 'noah-head-bold';
    color: white;
    font-size: 17px;
    border: 2px solid white;
  float: left;
}
.marstext{
  color: white;
  float: left;
  position: absolute;
  right: 152px;
  font-size: 62px;
}
  